body {
    background-color: #151515;
    align-content: center;
}

#header {
    text-align: center;
    color: lightblue
}

.box {
    display: flex;
    width: 100vw;
    background-color: #303030;
    height: 50vh;
    justify-content: space-around;
    align-items: center;

}

.sign {
    height: 100px;
    aspect-ratio: 1/1;
    background-color: grey;
    border: 2px solid white;
    border-radius: 50%;

}

.sign:hover {
    opacity: 0.6;
    cursor: pointer;
}

.sign:active {
    height: 102px;
}

img {
    height: 80px;
    margin: 10px;
    align-self: center;

}

.resultBox {
    border: 1px solid grey;
    justify-content: center;
    margin: 10px;
    align-items: center;
    padding: 10px;

}

#scoreCard {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    width: 100%;
}

.result {
    color: white;
    width: 100px;
    border: 1px solid rgb(97, 51, 51);
    margin: 10px;
    border-radius: 10%;
    text-align: center;
}

.textresult {
    color: darkgrey;
    text-align: center;
}

#reset {
    background: whitesmoke;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    align-self: baseline;
    border: 2px solid grey
}

#reset:hover {
    cursor: pointer;

}

#reset:active {
    background-color: darkgray;
    color: lightskyblue;
    border: 1px solid black
}